html {
    font-size: 62.5%;
    @include box-sizing(border-box);
}

*, *:before, *:after {
    @include box-sizing(inherit);
}

body{
    font-family: $fuentePrincipal;
    font-size: 1.6rem;
}

.contenedor {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    margin: 0;
    font-size: 2rem;
}

p{
    font-size: 2rem;
}

.alerta{
    color: $secundario;
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
    font-size: 1rem;
    text-align: center;
}

input.no-valido{
    border-bottom: 2px solid $secundario!important;
}