.oculto {
	display: none;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo {
		padding: 1.4rem 0;
	}
}

.carrito-compras {
	position: relative;

	&:hover .contenido {
		display: block;
		position: absolute;
		right: 0;
		top: 100%;
		z-index: 1;
		background-color: white;
		padding: 20px;
		min-height: 400px;
		min-width: 300px;

		img {
			max-width: 15rem;
		}

		.boton {
			@include boton($principal, block);
		}

        #lista-carrito{
            width: 100%;
            box-sizing: border-box;
        }
	}
}
